# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv
.envrc
.pytest_cache/
htmlcov/
.coverage
.tox/
dist/
build/
*.egg-info/

# Docker
docker-compose.override.yml
*.socket

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
QWEN.md
tmp
